
.text-amy_schumer {
    color: #B71C1C;
}
.text-gabriel_iglesias {
    color: #502587;
}
.text-dave_chappelle {
    color: #01579B;
}
.text-jimmy_carr {
    color: #FF6F00;
}
.text-chris_rock {
    color: #1B5E20;
}
.text-ricky_gervais {
    color: #a38325;
}
