
<form action="/sentencefinisher" method="get">
  <div class="form-group">
    <select name="comedian">
        {% for comedian_id, comedian_name in comedians.items() %}
            <option value="{{comedian_id}}">{{comedian_name}}</option>
        {% endfor %}
    </select>
    <select name="model">
        <option value="markov">Markov chain</option>
    </select>
    <input type="text" class="form-control" name="sentence" id="sentence" placeholder="Enter sentence here" />
  </div>
  <button type="submit" class="btn btn-primary" id="sentencefinisher_button">Submit</button>
</form>
